@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#39bd39;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgb(233, 236, 232);
    --text-shadow:.4rem .4rem 0 rgb(233, 236, 232);
    --border:.2rem solid #a2d4c1;
    --orange:#e98323;
    --greenish: #fff
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}
body{
    overflow-x: hidden;
  }
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.heading{
    text-align: center;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 4rem;
    letter-spacing: .4rem;
    margin:2rem 0;
  padding-top: 6rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.header{
    padding:1rem 2rem;
    z-index: 100;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 100%;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.header .logo img{
    height: 4rem;
  }
.header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0; padding:0;
  }
  
  .header nav ul li{
    margin: 0 1.5rem;
  }
  
  .header nav ul li a{
    font-size: 2rem;
    color:rgb(2, 2, 2);
  }
  
  .header nav ul li a:hover{
    color:rgb(42, 128, 24);
    text-decoration: none;
  }
  
  .header .fa-bars{
    font-size: 2.5rem;
    color:#666;
    cursor: pointer;
    display: none;
  }
.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--green);
}


.home .hero{
    min-height: 100vh;
    min-width: 200vh;
    background: url(home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  
  }
  
  .home .row{
    margin:0;
  }
  
  .home .hero .text1{
    font-size: 5rem;
    width:45rem;
    background:#fff;
    padding:1rem;
    text-align: center;
    opacity: .8;
    margin: 0 0 0 0 ;
  }
  
  .home .hero .text2{
    font-size: 3rem;
    width:35rem;
    background:rgb(92, 177, 97);
    padding:1rem;
    text-align: center;
    opacity: .8;
    margin-top: 1rem;
    color:#fff;
  }
 
.home .counting{
    min-height: 40vh;
    padding:2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .home .counting .box{
    margin: 2rem 4rem;
    text-align: center;
  }
  
  .home .counting .box .count{
    font-size: 7rem;
    color:#444;
  }
  
  .home .counting .box h3{
    font-size: 2rem;
    color:var(--green);
  }

  
.about{
    min-height: 100vh;
    padding-bottom: 3rem;
  }
  .about .heading{
    color: black;
  }
 /* .about .image{
    padding:2rem 100rem 2rem 0;
  }*/
  
  .about .image img{
    height:45rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 1rem var(--greenish );
    margin: 0 100% 0 -40%;
  }
  
  .about .info{
    padding:2rem;
    margin-top: 3rem;
  }
  
  .about .info h2{
    color:black;
    font-size: 3rem;
    margin: -10% 0 0 -5%;
  }
  
  .about .info p{
    position: flex;
    font-size: 1.4rem;
    color:#444;
    margin: 0% 0 0 -5%;
  }
  
  .about .info .icons a{
    font-size: 2rem;
    height: 4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
    background:#333;
    color:#fff;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
  }
  
  .about .info .icons a:hover{
    background:var(--green);
  }
 
  .service{
    min-height: 100vh;
  }
  
  .service .box-container{
    width:90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .service .box-container .box{
    height:25rem;
    width:25rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
    border-left: .5rem solid rgb(92, 177, 97);
    border-right: .5rem solid rgb(92, 177, 97);
    border-radius: .5rem;
    text-align: center;
    padding-top: 6rem;
    margin:2rem 3rem;
  }
  .service .box-container .box label{
    font-size: medium;
    font-style: italic;
    font-weight: 700;
    margin: 0 0 0 10;
   }
  .service .box-container .box .fas{
    color:var(--green);
    font-size: 5rem;
  }
  
  .service .box-container .box p{
    color:#333;
    font-size: 1.1rem;
    margin:2rem 0;
  }


  .project{
    min-height:100vh;
    background:rgb(145, 138, 138);
  }
  
  .project .heading{
    color:#fff;
  }
  
  .project .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .project .box-container .box{
    height:20rem;
    width:30rem;
    border-radius: .5rem;
    margin:2rem;
    overflow: hidden;
    box-shadow: 0 .3rem .5rem #000;
  }
  
  .project .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
  }
  
  .project .box-container .box:hover img{
    transform: scale(1.3);
  }
  
  
.contact{
    min-height: 100vh;
  }
  
  .contact .contact-box-container{
    width:93%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact .contact-box-container .contact-box{
    height:15rem;
    flex:1 0 30rem;
    margin:2rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    border-radius: .5rem;
    text-align: center;
    padding-top: 4rem;
  }
  
  .contact .contact-box-container .contact-box i{
    color:var(--orange);
    font-size: 4rem;
  }
  
 .contact .contact-box-container .contact-box h3{
    font-size: 1.8rem;
    color:#444;
    margin:2rem 0;
  }
  
  .contact .form-container{
    width:90%;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    border-radius: .5rem;
    padding:1rem 3rem;
    margin-bottom: 2rem;
  }
  
  .contact .form-container form input, textarea{
    height:4.5rem;
    padding:0 1rem;
    margin:2rem 0;
    font-size: 1.5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    border:none;
    outline: none;
    color:#333;
  }
  
  .contact .form-container form .inputBox{
    display: flex;
    justify-content: space-between;
  }
  
  .contact .form-container form input[type="text"]{
    width:49%;
  }
  
  .contact .form-container form input[type="email"]{
    width:100%;
  }
  
  .contact .form-container form textarea{
    width:100%;
    height:20rem;
    padding:1rem;
    resize: none;
    overflow-y: auto;
  }
  
  .contact .form-container form input[type="submit"]{
    background:var(--green);
    width:15rem;
    color:#fff;
    font-size: 2rem;
  }
  
  .contact .form-container form input[type="submit"]:hover{
    opacity:.8;
  }

  
.footer{
    background:#333;
    text-align: center;
  }
  
  .footer .row{
    width:100%;
    margin-left: 0;
    padding:1rem;
  }
  
  .footer .row .col-md-3{
    margin:1rem 0;
  }
  
  .footer h2{
    font-size: 2.5rem;
    color:#fff;
  }
  
  .footer p{
    font-size: 1.2rem;
    color:#ccc;
  }
  
  .footer .letter p{
    font-size: 2rem;
  }
  
  .footer .letter input[type="email"]{
    outline: none;
    border: none;
    background:none;
    padding:0 1rem;
    color:#fff;
    height:3rem;
    width:80%;
    border:.1rem solid #fff;
    font-size: 1.5rem;
  }
  
  .footer .letter input[type="submit"]{
    outline: none;
    border: none;
    background: var(--orange);
    margin:1rem 0;
    width:10rem;
    font-size: 1.6rem;
  }
  
  .footer .letter input[type="submit"]:hover{
    background:var(--orange);
    color:#fff;
  }
  
  .footer .credit{
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
    margin:1rem 0;
    margin-bottom: 0;
    border-top: .1rem solid #aaa;
    letter-spacing: .2rem;
  }
  
  .footer .credit span{
    color:var(--orange);
  }
  
  

  .fa-times{
    transform: rotate(180deg);
  }
  
/* media queries  */

@media (max-width:768px){

    html{
      font-size: 50%;
    }
  
    .header .fa-bars{
      display: block;
    }
  
    .header nav{
      position: fixed;
      top:6rem; right: -120%;
      height:calc(100vh - 6rem);
      width:100vw;
      background: rgba(0,0,0,.5);
      z-index: 1000;
      border-top: .1rem solid rgba(0,0,0,.3);
    }
  
    .header nav ul{
      height: 100%;
      width:33rem;
      background:#fff;
      flex-flow: column;
      justify-content: center;
      float: right;
    }
  
    .header nav ul li{
      margin:1rem 0;
    }
  
    .header nav ul li a{
      display: block;
      padding:.5rem 0;
      border: .1rem solid rgba(0,0,0,.3);
      width:25rem;
      border-radius: 5rem;
      text-align: center;
    }
  
    .header nav ul li a:hover{
      background:#333;
      color:#fff;
    }
  
    .header .nav-toggle{
      right: 0%;
    }
  
  }
  
  @media (max-width:400px){
    .home .hero .text1{
      font-size: 3.5rem;
      width: 33rem;
    }
    .home .hero .text2{
      font-size: 2.5rem;
      width: 30rem;
    }
  }  
  